@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-button-light: #ffba26;
  --color-button-dark: #ff9a0e; 

  --color-hero-light: #FF7A7A;
  --color-hero-dark: #F65900;

  --shadow-button-shadow: 0 5px 10px rgba(255, 174, 0, 0.26), 0 20px 40px rgba(255, 174, 0, 0.29);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities{
  .shadow-button-shadow{
    box-shadow: var(--shadow-button-shadow);
  }
}
